.game-field {
	background-color: orange;
	min-height: 10vh;
	margin: 1px 1px 1px 1px;
	line-height: 10vh;
}

.target {
	background-color: green;
	color: white;
	font-size: 24pt;
	text-align: center;
}

.miss {
	background-color: red;
}

h1, h2 {
	margin-bottom: 50px;
	text-align: center;
}
.button {
	text-align: center;
	margin-top: 50px;
}
